.back-arrow {
    margin: 10px;
    width: 50px;
}

.quest-text {
    font-family: 'VT323', monospace;
    text-align: center;
}

.quest-button {
    margin-top: 10px;
}

.quest-header {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}

.quest-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
}

.scroll {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 450px;
    min-width: 500px;
    width: 85vw;
}

.new-quest {
    background-image: url('../../assets/quest-banner.png');
}

@media screen and (max-width: 414px) {
    .scroll{
        margin-top: 0px;
        width: 100px;
        height: 60vh;
    }
}
