button {
  background-color: lightgrey;
  cursor: pointer;
  font-family: 'VT323', monospace;
  font-size: 25px;
  margin: 0px 3px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-image: url('./assets/bubble.png');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'VT323', monospace;
  font-size: 2em;
  height: 175px;
  text-align: center;
  width: 16em; 
}

.title {
  align-self: flex-start;
  width: 25em;
  margin-top: 10px;
  margin-bottom: 10px;

}

.theme-button {
  font-size: 20px;
}

.theme-setting-container {
  background-color: rgb(182, 180, 180);
  border: 2px solid black;
  padding: 5px;
  padding-top: 0px;
}

.welcome-message {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.wizard {
  width: 25em;
}

/* Backgrounds */

.meadow-background {
  background-image: url('./assets/meadow.png');
}

.forest-background {
  background-image: url('./assets/forest.png');
}

.castle-background {
  background-image: url('./assets/castle.png');
  background-repeat: no-repeat;
  background-size: cover;
}

