button {
  background-color: lightgrey;
  cursor: pointer;
  font-family: 'VT323', monospace;
  font-size: 25px;
  margin: 0px 3px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-image: url('./assets/bubble.png');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'VT323', monospace;
  font-size: 2em;
  height: 175px;
  text-align: center;
  width: 16em; 
}

.title {
  align-self: flex-start;
  width: 25em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.wizard {
  width: 25em;
}

@media screen and (max-width: 480px) {
  .wizard {
    width: 15em;
  }

  button {
    font-size: 20px;
    margin: 6px 3px;
  }

  nav {
    height: 80px;
    overflow-x: scroll;
    width: 8em;
  }

  .title {
    width: 15em;
    margin-top: 30px;
    margin-bottom: 50px
  }

  .welcome-message {
    margin-top: 10px;
  }

}